{% extends 'core/base.html' %}

{% block title %}
    Todos los vehiculos
{% endblock title %}

{% block content %}
<form action="{% url 'vehiculos:index' %}" method="get" >
    <input type="text" name="busqueda" placeholder="Buscar...">
</form>    
    <h1>Vehiculos disponibles: </h1>

        <ul>
            {% for vehiculo in vehiculos %}
            <li><p> {{vehiculo.marcas}} | {{vehiculo.tipo}} | {{vehiculo.modelos}} </p></li>
            
            {% endfor %}
         </ul>
         
{% endblock content %}