{% extends 'core/base.html' %}

{% block title %}
   Vehiculos - Publicar mi vehículo
{% endblock title %}
{% block body_title %}
    {% if form.instance.pk %}
        <h1 class="text-white">Vehículos - Editar un vehículo</h1>
    {% else %}
        <h1 class="text-white">Vehículos - Publicar un vehículo</h1>
    {% endif %}
{% endblock body_title %}
   
{% block content %}   
<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-dark">
                        {{ form.as_table }}
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary btn-block mt-3">Guardar</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}