{% extends 'core/base.html' %}
{% block title %}
    Ventacar | Acerca de mí
{% endblock title %}
{% block body_title %}
    Acerca de mí
{% endblock body_title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <p>Hola, mi nombre es Luis y soy oriundo de la provincia de La Pampa. Desde niño, crecí en una zona rural, lejos de las tecnologías. Aunque siempre tuve interés en el mundo tecnológico, nunca había tenido la oportunidad de sumergirme en él.</p>
                    <p>Ahora, a mis 25 años, después de dejar pasar muchos años, he decidido adentrarme en este fascinante mundo de la "programación" que tanto me ha llamado la atención desde que lo escuhé nombrar. Actualmente, estoy finalizando mi primer curso de programación. A pesar de las dificultades, puedo decir con orgullo que he disfrutado cada momento del aprendizaje.</p>
                    <p>Reconozco que este proyecto no está perfectamente pulido y aún queda mucho por mejorar, pero para mí, llegar hasta acá es motivo de gran satisfacción. Estoy muy contento de haber dado este primer paso.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}