<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Concesionaria Ventacar</title>  
  
  <style>
    body {
      font-family: sans-serif;  
      margin: 0;
      padding: 20px;
    }
    h1, h2, h3 {
      margin: 1em 0; 
    }
  </style>
</head>
<body>
  <header>  <h1>Bienvenido a Ventacar, sus concesionario de confianza.</h1>  </header>
  <main>  {% block titulo %}
      {% endblock titulo %}

    {% block contenido %} 
      {% endblock contenido %}
  </main>

</body>
</html>