{% extends 'core/base.html' %}
{% block title %}
    Ventacar | Login
{% endblock title %}

{% block body_title %}
    Login
{% endblock body_title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-dark text-light">
                    <div class="card-header text-center">
                        <h3 class="text-light">Para poder operar en nuestra web, debes iniciar sesión.</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                {{ form.as_p }}
                            </div>
                            <input type="hidden" name="next" value="{% url 'core:index' %}">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                                <a href="{% url 'core:index' %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
