{% extends 'core/base.html' %}

{% block title %}
    Ventacar
{% endblock title %}

{% block body_title %}
    Logout
{% endblock body_title %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading">Has cerrado sesión.</h4>
            <p>Muchas gracias por utilizar nuestra página web.</p>
            <hr>
            <p class="mb-0">Esperamos verte pronto de nuevo.</p>
        </div>
    </div>
{% endblock content %}